<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/highcharts-chart/highcharts-chart.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="my-chart">
    <style>
    .chartArea .title{ background: #1B5E20;}
    .chartArea .title h3{color: rgb(42, 182, 37); padding: 5px 10px}
    .chartArea  .marketActions .title{ background: #FF5722}
    .chartArea  .marketActions .title h1{color: #fff; padding: 5px 10px;font-size: 1.17em;}
    .highcharts-title {color: rebeccapurple !important;}
    </style>
    <template>
            <div class="chartArea" style="width:30%">
                    <div >
                      <div class="title">
                        <h3 style="color:navy; background-color:palevioletred !important;">{{marketActions.header}}</h3>
                      </div>
                      <highcharts-chart type="spline" data='{{marketActions.chart}}' title='{{marketActions.header}}' x-zoom x-label="X Axis" y-label="Y Axis"></highcharts-chart>
            </div>
            <iron-ajax auto url="/data/financeDash.json" params=''  handle-as="json" on-response="handleResponse"></iron-ajax>
    </template>
    <script>
      class MyChart extends Polymer.Element{
          static get is() {return 'my-chart';}

          handleResponse(event, Request) {debugger;
            this.marketActions = Request.response.data.marketActions;
          }
      }
      window.customElements.define(MyChart.is, MyChart);
    </script>
</dom-module>