<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<dom-module id="my-card">
    <template>
        <style>
          .oldnews p,.oldnews ul li{font-size: 14px}
        .oldnews  a{ color: #B71C1C; text-decoration: none; font-size: 13px}
        .oldnews a:hover{color:#E53935}
        .oldnews .card{ background: #E3F2FD}
        .oldnews .title{ background: #0D47A1}
        .oldnews .title h3{ margin:0px; color: #fff; padding: 5px 10px}

        .popupNewBodyOuter {
        padding: 15px;
      }

      .popupNewBody {
        padding: 25px;
        height: 200px;
        overflow: auto;
        margin-bottom: 20px;
      }

      .newHeader {
        word-wrap: break-word;
        white-space: normal;
        margin-top: 0px;
      }

      .popupContainer {
        width: 50%;
        margin: 0px auto;
      }

      .popupNewBody {
        padding: 25px;
        height: 200px;
        overflow: auto;
        margin-bottom: 20px;
      }

        </style>
        <div class="oldnews">
            <h1>My Card</h1>
            <template is="dom-repeat" items="{{dashBoardData.news}}">
                <div class = "card">
                    <div>
                        <h3>[[item.Desc]]</h3>
                    </div>
                    <div>
                        <h3>[[item.altHead]]</h3>
                    </div>
                    <div>
                        <template is="dom-repeat" items="{{item.newsList}}">
                            <li>[[item]]</li>
                        </template>
                    </div>
                    <a href="#" on-click="openModalData" id="{{item.newsID}}">Read More</a>
                </div>
            </template>
        </div>
        <iron-ajax auto url="/data/financeDash.json" params=''  handle-as="json" on-response="handleResponse"></iron-ajax>
        <paper-dialog id="modal">
            <div class="popupNewBodyOuter">
                    <h1 class="newHeader">[[popupData.newHeader]]</h1>
                    <paper-dialog-scrollable>
                        <div class="popupNewBody">
                        <!--<img src="" alt="" />-->
                        <template is="dom-repeat" items={{popupData.DescPopup}}>
                            <p>{{item}}</p>
                        </template>
                        </div>
                    </paper-dialog-scrollable>
                    <div class="buttons">
                        <paper-button dialog-confirm autofocus class="floatRight buttonPaper">Close</paper-button>
                    </div>
            </div>
        </paper-dialog>
    </template>
    <script>
    class MyCard extends Polymer.Element {
        static get is() {return 'my-card';}
        static get properties() {
            return {
                dashBoardData:{
                    type: Object,
                    value:{}
                },
                popupData: {
                    type: Object,
                    value: {}
                }
            }
        }

        handleResponse(event, Request) {
            this.dashBoardData = Request.response.data;
        }

        openModalData(e) {
            let eleId = e.model.item.newsID;
            for (var itemData in this.dashBoardData.news) {
                if (this.dashBoardData.news[itemData].newsID === eleId) {
                    this.popupData = this.dashBoardData.news[itemData];
                }
            }
            this.$.modal.open();
            e.preventDefault();

        }
    }
    window.customElements.define(MyCard.is, MyCard);
    </script>
</dom-module>