<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">

<dom-module id="my-form">
    <template>
        <style>
            .form{
                margin: 0 auto;
                width: 500px !important;
            } 
            paper-button.indigo {
                background-color: pink;
                color: white;
                --paper-button-raised-keyboard-focus: {
                background-color: grey !important;
                };
            }
            paper-button.indigo:hover {
                background-color: pink;
            }

            #error{
                color: red !important;
            }
        </style>
       
        <div class="form">
                <h1>My Form</h1>
                <span id="error" style= "display:none;">Please enter the required fields</span>
            <iron-form>
                    <paper-input id="firstName" char-counter maxLength="200" value= "{{submitObj.firstName}}"always-float-label placeholder="Please enter First name" label="First Name" required auto-validate></paper-input>
                    <paper-input id="quantity" char-counter maxLength="200" value= "{{submitObj.quantity}}"always-float-label placeholder="Please enter quantity" label="Quantity" allowed-pattern= "[-+]?([0-9]*\.[0-9]+|[0-9]+)" required auto-validate></paper-input>
                    <paper-input id="password" type= "password"char-counter value= "{{submitObj.password}}" maxLength="200" always-float-label placeholder="Please enter Password" label="Password" required auto-validate></paper-input>
                    <label id="sex">Sex</label>
                    <paper-radio-group required auto-validate>
                        <paper-radio-button id="female" value=""checked="{{submitObj.sex1}}">Female</paper-radio-button>
                        <paper-radio-button id="male" value="" checked="{{submitObj.sex2}}">Male</paper-radio-button>
                    </paper-radio-group><br>
                    <paper-dropdown-menu label="Country" name="country" id="country"  value="{{submitObj.country}}" required auto-validate>
                            <paper-listbox slot="dropdown-content" id="dropDown"selected="0">
                            <paper-item>Please select country</paper-item>
                            <paper-item>India</paper-item>
                            <paper-item>US</paper-item>
                            <paper-item>UK</paper-item>
                            <paper-item>Canada</paper-item>
                            </paper-listbox>
                    </paper-dropdown-menu><br>
                    <vaadin-date-picker id= "dob" label="DOB" format="d/m/y" value="{{submitObj.date}}"placeholder="Please enter DOB" required auto-validate></vaadin-date-picker>
                    <br>
                    <paper-button raised class="indigo" on-click="submitMe">Submit</paper-button>
                    <paper-button raised class="indigo" on-click="reset">Reset</paper-button>
             </iron-form>

             <paper-button raised class="indigo" on-click="back">Back</paper-button>
             <paper-button raised class="indigo" on-click="next">Next</paper-button>
        </div>
    </template>
    <script>
       class MyForm extends Polymer.Element {
           static get is(){return "my-form";}
           static get properties() {
               return {
                submitObj: {
                    type: Object,
                    value:{}
                }
               }
           }

           submitMe() {
                debugger;
                var country = this.$.country.value,
                    firstName= this.$.firstName.value,
                    pwd= this.$.password.value,
                    dob= this.$.dob.value,
                    female=this.$.female.value,
                    male=this.$.male.value,
                    quantity=this.$.quantity.value

                if((quantity !==undefined) &&(firstName !==undefined)
                        &&(pwd !== undefined) &&(dob !== "") &&
                        (country !== "Please select country") ) {
                            console.log(this.submitObj);
                            this.$.error.style.display="none";
                } else {
                    this.$.error.style.display="block";
                }
              
           }
           back() {
              window.history.pushState({}, null, '/chart');
              window.location.href="chart";
           }
           next() {
              window.history.pushState({}, null, '/card');
              window.location.href="card";
           }
           reset() {debugger;
                    this.$.country.value = undefined;
                    this.$.firstName.value = undefined;
                    this.$.password.value= undefined;
                    this.$.dob.value= "";
                    this.$.female.value= "";
                    this.$.male.value= "";
                    this.$.quantity.value= undefined;
           }
       }
       window.customElements.define(MyForm.is, MyForm);
    </script>

</dom-module>