<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="my-grid">
    <template>
        <h1>My Grid</h1>
    </template>
    <script>
    class MyGrid extends Polymer.Element{
        static get is(){return "my-grid";}
    }
    window.customElements.define(MyGrid.is, MyGrid);
    </script>
</dom-module>