<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<dom-module id="my-map">
    <template>
        <style>
          google-map {
              width: 300px !important;
              height: 500px !important;
          }
        </style>
        <div>
                <google-map latitude="37.77493" longitude="-122.41942">
                        <google-map-poly closed fill-color="blue" fill-opacity=".5">
                          <google-map-point latitude="36.77493" longitude="-121.41942"></google-map-point>
                          <google-map-point latitude="38.77493" longitude="-122.41942"></google-map-point>
                          <google-map-point latitude="36.77493" longitude="-123.41942"></google-map-point>
                        </google-map-poly>
                      </google-map>
        </div>
        
    </template>
    <script>
    class MyMap extends Polymer.Element {
        static get is() {return 'my-map';}
    }
    window.customElements.define(MyMap.is, MyMap);
    </script>
</dom-module>